:root {
  --white-color: #fff;
  --black-color: #000;
  --title-color: #472006;
}

body {
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
}

.header {
  height: 80px;
  background: linear-gradient(var(--black-color), var(--white-color));
}

.header__title {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 0 0;
  color: var(--title-color);
}

.main {
  display: flex;
  width: clamp(320px, 100%, 1280px);
  min-height: calc(100vh - 160px);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.main__slider {
  width: 90%;
  aspect-ratio: 1/0.5;
}

.footer {
  height: 80px;
  background: linear-gradient(var(--white-color),var(--black-color));
}

.footer__link {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--title-color);
  cursor: pointer;
}